@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap");



:root {
  /* Colors */
  --color-black: #16161a;
  --color-green: #2cb67d;
  --color-darkgray: #232e35;
  --color-gray: #94a1b2;
  --color-red: #ef4565;
  --color-white: #ffffff;
  --color-purple: #7f5af0;
  --color-purple-light: #a786df;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: unset;
  padding: unset;
  background-color: var(--color-black);
  font-family: "Nunito", sans-serif;
  color: var(--color-white);
}

.text-header {
  color: var(--color-white);
  text-align: center;
  padding: 5px 20px;
}
.title {
  color: var(--color-white);
  margin-left: 10px;
  font-size: 22px;
}
/* Containers */
.container-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-white);
}
.container-info h3 {
  margin-block-start: unset;
  margin-block-end: unset;
}
.container-info p {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: small;
}
.container-info img {
  margin: auto;
  width: 100px;
  border-radius: 50%;
}
.container-options {
  display: block;
  bottom: 9px;
  position: absolute;
  left: 0;
  right: 0;
}
/* End Containers */
/* Bottons */
.logout-btn {
  color: var(--color-red);
  background-color: unset;
  width: fit-content;
  margin: auto;
  border: none;
}
/* End Bottons */
.container-categories {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.categories {
  color: var(--color-white);
  text-decoration: none;
  margin: 0 10px;
  text-align: center;
}

.logos img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 95px;
  padding: 5px;
  border: var(--color-white) solid 9px;
  border-radius: 50%;
}
.border-green {
  border: var(--color-green) solid 9px !important;
}
/* icons */
.icon {
  width: 24px;
  height: 24px;
}
.icon path {
  fill: var(--color-white);
}

/* Footer */
#footer {
  display: flex;
  background-color: var(--color-darkgray);
  align-items: center;
  padding: 15px 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

#footer a {
  display: flex;
  flex-direction: column;
  float: left;
  list-style: none;
  color: var(--color-white);
  text-decoration: none;
}
.footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}
#footer .footer-link:hover,
#footer.footer-link:focus,
.icon:hover {
  color: var(--color-green);
}
.footer-link:hover svg path,
.footer-link:focus svg path {
  fill: var(--color-green);
}

#footer .focus,
#footer .focus svg path {
  color: var(--color-green);
  fill: var(--color-green);
}
/* end Footer */

/* Select */

select,
option {
  font-size: small;
  /* font-weight: lighter; */
}
#select-days {
  background-color: unset;
  color: white;
  padding: 0.5em 2.5em 0.5em 0.9em;
  border: none;
  appearance: none;
  background-image: url("../assets/svg/arrowDown.svg");
  background-repeat: no-repeat;
  background-position: right;
}

/*  */

/* Statitics Container */
.statitics-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0 16px;
  border-radius: 10px;
  border: solid 2px var(--color-gray);
  margin: 15px auto;
}
.times,
.response,
.response-success,
.response-failed {
  display: flex;
  font-weight: bold;
  align-self: center;
  font-size: 16px;
}
.times span,
.response span,
.response-success span,
.response-failed span {
  margin: 0px 5px;
}
.times span svg {
  fill: var(--color-gray);
}
.response span svg,
.response-success span svg,
.response-failed span svg {
  stroke: var(--color-gray);
}
.times,
.response,
.response-success,
.response-failed,
#count-times,
#count-response {
  color: var(--color-white);
}
#count-response-success {
  color: var(--color-green);
}

#count-response-failed {
  color: var(--color-red);
}
/*  */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
/*  */

/* progress bar */
/* .progress-bar-container {
  padding: 10px;
}
.progress {
  margin: 5px auto;
  padding: 0;
  width: 75%;
  height: 12px;
  overflow: hidden;
  background: #fff;
  border-radius: 25px;
}

.bar {
  position: relative;
  float: left;
  min-width: 0%;
  height: 100%;
  background: #2cb67d;
  border-radius: 25px;
} */

#life {
  margin: 0px 2px;
}

/*  */
/* questions */
/* #questions {
  padding: 10px;
}
#questions img {
  margin: 10px;
}
#questions h2 {
  float: right;
  width: -webkit-fill-available;
  margin: 5px;
} */

/* #options div {
  background-color: #232e35;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-radius: 5px;
  width: 328px;
} */
/* #options-with-images {
  justify-content: space-between;
  display: inline-block;
  margin: 0 32px;

} */
/* .option-image {
  background-color: #16161a;
  border: 2px solid var(--color-gray);
  margin: 2px 2px;
  width: 144px;
  height: 200px;
  float: left;
}
.option-image p {
  text-align: center;
  margin: 20px 0;
}

.option-image,
.option-image img {
  border-radius: 8px;

} */



.option-select-default {
  border: 2px solid var(--color-white);
}

.option-select-success {
  border: 2px solid var(--color-green);
}
.option-select-failed {
  border: 2px solid var(--color-red);
}

.radio-default {
  background-image: url("../assets/svg/check-default.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
.radio-success {
  background-image: url("../assets/svg/check-success.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}
.radio-failed {
  background-image: url("../assets/svg/check-failed.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

/* .item-radio {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}

.item-radio:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #fff;
} */


/* Button */
/* #check {
  border-radius: 16px;
  width: 328px;
  height: 50px;
  display: block;
  margin: 10px auto;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-purple);
  border: none;
}
#check:disabled {
  background-color: #d4caf3;
}
#check:hover {
  background-color: var(--color-purple-light);
  box-shadow: 0 2px 1px 1px var(--color-purple);
} */

/*  */

/* Notification */

#complete {
  border-radius: 16px;
  width: 328px;
  height: 50px;
  display: block;
  margin: 10px auto;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}
.show {
  display: flex !important;
  bottom: 0px !important;
  z-index: 1 !important;
}

.notification-success {
  background-color: #acffcf;
}
.notification-default {
  background-color: var(--color-white);
}
.notification-success,
.notification-default {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: -1000px;
  transition: all 1.4s ease;
}
.notification-failed {
  transition: all 1.4s ease;
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9cfd7;
  width: 100%;
  bottom: -1000px;
}
#message-title {
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
}
#message-response {
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.notification-success #message-title,
.notification-default #message-title {
  color: #16161a;
}
.notification-failed #message-title,
.notification-failed #message-response {
  color: #b81e3b;
}
.complete-success {
  background-color: var(--color-green);
  box-shadow: 0 1px 1px 1px #0f915b;
}
.complete-failed {
  background-color: var(--color-red);
  box-shadow: 0 1px 1px 1px #b81e3b;
}
.complete-default {
  background-color: gray;
  box-shadow: 0 1px 1px 1px #4a4a64;
}

/* Organized */
#organized {
  height: auto;
  min-height: 146px;
  padding: 0px 16px;
}
#unorganized {
  margin: 10px auto;
  display: inline-block;
  justify-content: center;
  padding: 0px 16px;
  bottom: 100px;
  position: absolute;
  width: 360px;
  height: fit-content;
}

#organized input {
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 8px;
}

#unorganized input {
  margin: 5px 3px;
}
#unorganized input,
#organized input {
  display: inline-block;
  border-radius: 14px;
  color: transparent;
  padding: 0 20px;
  content: "";
  background-position: center;
  background-color: #72757e;
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  box-shadow: 0 1px 1px 2px #72757e;
}
#unorganized input:hover {
  cursor: pointer;
}
#unorganized input:focus-visible,
#organized input:focus-visible {
  outline: none;
}

.large {
  width: 156px;
  height: 40px;
}
.mid {
  width: 136px;
  height: 40px;
}
.small {
  width: 68px;
  height: 40px;
}
